target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.metadata/*
/.metadata/
excercicios/.classpath
excercicios/.project
excercicios/.settings/org.eclipse.jdt.core.prefs
excercicios/src/module-info.java
exercicios/.classpath
exercicios/.project
exercicios/.settings/org.eclipse.jdt.core.prefs
clinica/.classpath
clinica/.project
clinica/.settings/org.eclipse.jdt.core.prefs
faculdade/.classpath
faculdade/.project
faculdade/.settings/org.eclipse.jdt.core.prefs
campo-minado/.settings/org.eclipse.jdt.core.prefs
campo-minado/.classpath
campo-minado/.project
campo-minado-swing/.classpath
campo-minado-swing/.project
campo-minado-swing/.settings/org.eclipse.jdt.core.prefs
Calculadora/.project
Calculadora/.classpath
